.board-card {
    border: 1px solid blue;
    width: 100%;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 1 40%;
    max-width: 20vw;
    min-height: 35vh;
    margin: 1vw;
}

.card-top {
    text-align: center;
}

.card-top h2, p {
    margin: 5px;
}

.card-gif {
    width: 90%;
    max-height: 20vh;
    object-fit: contain;
}

.card-btns {
    margin: 1vh;
    text-align: center;
    width: 100%;
}

.pin {
    align-self: flex-start;
    height: 3vh;
}