.buttons {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid grey;
    background-color: #A3C4F3
}

.dark-mode .buttons {
    background-color: #B2B8F2;
}

.dark-mode .buttons:hover {
    transform: scale(1.05);
    background-color: #8A9BE8;
}
.buttons:hover {
    transform: scale(1.05);
    background-color: #B5A8E8;
}

#clear-btn {
    background-color: #E7A3A1;
}