.footer {
    background-color:#A3C4F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.dark-mode .footer {
    background-color: #B2B8F2;
    color: #F6F3FF;
}

footer {
  width: 100%;
}